Source: selenium-scripts
Section: net
Priority: extra
Maintainer: user <user@host>
Build-Depends: debhelper (>= 9.0.0)
Build-Depends-Indep: libfile-sharedir-install-perl
Standards-Version: 3.9.6

Package: selenium-scripts
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, ${shlibs:Depends}
Description: App::SeleniumScripts
 Another Selenium scripts collection.
